@mian_color:#1f262d;
@white_color:#fff;
@height_head:50px;

.pos_a{
	position: absolute;
}
.pos_f{
	position: fixed;
}

.s_left{
	float: left
}
.s_right{
	float: right
}

.s_m_r_10{
	margin-left: 10px;
}

.clearfix:after {   
    content: '';   
    display: block;   
    height: 0;   
    overflow: hidden;   
    clear: both;   
}  
.clearfix {   
    *zoom: 1;   
}

.s_btn{
	height: 34px;
	border-radius: 4px;
	border: 0;
	padding: 0px 15px;
	margin-left: 10px;
	color: #444;
	font-size: 14px;
	outline:none;
}
.s_btn_red{
	background: #f00;
	color: @white_color;
}



.icon_size{
	font-size: 22px;
	line-height: @height_head;
}

body{
	padding: @height_head 0 0 180px;
	min-width:1200px;
}

.s_header{
	.pos_f;
	top: 0;
	left: 0;
	right:0;
	height:@height_head;
	min-width:1200px;
	line-height: @height_head;
	background:(@mian_color - 10);
	color: @white_color;
	.s_logo{
		height: @height_head;
		width: 180px;
		float: left;
		padding: 0px 15px;
		font-size: 16px;
	}
	.s_siderBtn{
		height: @height_head;
		padding: 0 20px;
		border-left:1px solid ( @mian_color + 25);
		float: right;
		text-align: center;
		color:@white_color;
	}
}

.s_sider{
	.pos_f;
	left: 0;
	top: @height_head;
	bottom:0;
	width: 180px;
	background: @mian_color;
	color: @white_color;
}

.s_content{
	padding: 0 15px;
}

.s_breadcrumb{
	padding: 15px 0 10px 0;
}

.s_search{
	height: 36px;
	background: #fc0
}
.s_tableBox{
	padding: 15px 0;
}
.s_table{
	width: 100%;
	border: 1px solid #ccc;
	border-collapse:collapse;
	border-spacing:0;
	thead>tr>th{
		border: 1px solid #ccc;
		padding: 10px;
	}
	tbody>tr>td{
		border: 1px solid #ccc;
		padding: 8px;
	}
}